# Environments
myenv/
env/
venv/
#.env
.venv/
.venv_linux/
.env
*.db
*.db-shm
*.db-wal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

*.pth
*.pt
*.onnx
*.zip
*.jpg
*.jpeg
*.png
*.xlsx
*.pdf
*.txt
!requirements.txt.venv_linux/
